body{
  background-image: url("images/hero.jpg");
  background-size:cover;
  height: 100vh;
  background-color: rgb(45, 45, 45)
}

.container {
    max-width: 1400px;
    margin: 0px auto;
    padding: 0px 0px;
    overflow: hidden;
}

header {
  color: white;
  opacity: 0.8;
    padding: 10px 0
}
#nav-logo {
    float: left;
    margin: 20px;
    font-size: 1.2em;
}

nav{
    float: right
}

.nav-links {
    list-style-type: none;
    margin: 10px;
    padding: 0;
  font-size: 1em;
}

.nav-links li {
    display: inline-block;
    margin-left: 18px;
}

.nav-links li a {
  display: block;
  color: white;
  opacity: 0.8;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-links li a:hover {
  color: white;
  opacity: 1;
}
.nav-links li a.active {
  color: white;
}
